* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.slider-info {
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: #E3E3E3;
    padding-top: 10px;
    height: 50px;
}

.slide div p,
.slide div a {
    text-decoration: none;
    color: #6c5393;
    font-size: 1.2rem;
}

.slide {
    display: none;
    transition: ease-in-out 5s;
}

nav.search-nav {
    background-color: #6c5393 !important;
    height: 70px;
    width: 100%;
}

nav.search-nav .container-fluid {
    width: 100%;

}

nav.search-nav form {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav.search-nav form .form-control {
    outline: none !important;
    width: 60%;
    height: 40px;
    color: #000000 !important;
    border-radius: 5px 0 0 5px;
}

nav.search-nav form img {
    width: 8rem;
    margin-right: 2.0rem;
}

nav.search-nav form .form-control:focus {
    box-shadow: none !important;
    border-color: #6c5393 !important;
    color: #000000;
}

::-webkit-input-placeholder {
    color: #E7E9EB !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #E7E9EB !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #E7E9EB !important;
}

:-ms-input-placeholder {
    color: #E7E9EB !important;
}

nav.search-nav form .btn-outline-success {
    border: 1px solid #E7E9EB !important;
    margin-left: -9px;
    margin-bottom: 0px;
    background-color: #6c5393;
    height: 40px;
    color: #E7E9EB;
    border-radius: 0 5px 5px 0;
}

.fullbanner-desk {
    width: 100%;
}

.fullbanner-desk .splide__slide img {
    width: 100%;
    height: auto;
}
.fullbanner-mobile section {
    display: none;
}
.grid-product .col .card {
    height: 430px!important;
    width: 15rem;
}
.grid-product .card-body .card-title{
    font-size: 1rem;
    overflow: hidden;
    height: 50px;
    font-weight: 700;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 25px;     /* fallback */
    max-height: 50px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.grid-product .card-body p.oculos-color{
    height: 60px;
}
.grid-product .card-body p.preco-de{
    color: #A7A3A3;
    text-decoration: line-through;
    font-size: 0.9rem;
}
.grid-product .card-body p.preco-por{
    margin-top: -16px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #6c5393;
}
.grid-product .card-body p.preco-por span{
    color: #6c5393;
    font-size: 0.9rem;
    font-weight: normal;
}

.grid-product .card-body a {
    width: 90%;
    background-color: #18D341;
    border-color: #18D341;
    letter-spacing: 1px;
}

.grid-product .card-body a:hover {
    background-color: #6c5393;
    border-color: #6c5393;
}

footer{
    width: 100%;
    background-color: #6c5393;
    padding: 15px;
    text-align: center;
    color: #E7E9EB;
    margin-top: 35px;
}

footer h3{
    font-size: 1.2rem;
}
footer .midias-sociais a{
    text-decoration: none;
    color: #E3E3E3;
    margin-right: 15px;
    font-size: 1.5rem;
}

@media (max-width: 765px) {

    .slide div p,
    .slide div a {
        font-size: 1rem;
    }

    nav.search-nav form .form-control {
        width: 90%;
    }

    nav.search-nav form img {
        width: 6rem;
        height: auto;
        margin-right: 5px;
    }

    ::-webkit-input-placeholder {
        color: #E7E9EB !important;
        font-size: 0.8rem;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #E7E9EB !important;
        font-size: 0.8rem;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #E7E9EB !important;
        font-size: 0.9rem;
    }

    :-ms-input-placeholder {
        color: #E7E9EB !important;
        font-size: 0.9rem;
    }

    .fullbanner-desk section {
        display: none;
    }

    .fullbanner-mobile section{
        display:block;
        width: 100%;
    }

    .fullbanner-mobile .splide__slide img {
        width: 100%;
        height: auto;
    }

    .fullbanner-mobile .splide__pagination__page{
        display: none;
    }
    .grid-product{
        width: 90%;
        margin: 0 auto;
    }
    .grid-product .col .card {
        height: 400px!important;
        width: 11rem;
    }
    .grid-product .card-body p:nth-child(3){
        font-size: 1rem;
    }

}

@media (max-width: 390px) {
    .grid-product .col .card {
        height: 370px!important;
        width: 10rem;
    }

    .grid-product .card-body a{
        font-size: 0.9rem;
    }

}

@media (max-width: 360px) {
    .grid-product .col .card {
        height: 350px!important;
        width: 9rem;
    }
    .grid-product .card-body .card-title{
        font-size: 0.9rem;
        line-height: 23px;
    }
    .grid-product .card-body a{
        font-size: 0.8rem;
    }

}